@use "@/scss/mixins/media" as media;
.feedback {
    margin-top: 87px;
    //padding-bottom: 110px;
    @include media.max-width(xs) {
        margin-top: 51px;
        //padding-bottom: 0;
    }

    &__title {
        text-align: center;
        @include media.max-width(xs) {
            text-align: left;
            margin-left: 15px;
        }
    }

    &__row {
        margin: 28px 0 0 0;
        //padding-bottom: 54px;
        overflow: hidden;
        padding: 15px 0;
        @include media.max-width(xs) {
            margin: 10px 0 0 15px;
            //padding-bottom: 0;
        }
    }
    &__swiper{
        overflow: visible;
        padding-bottom: 54px;
        @include media.max-width(xs) {
            padding-bottom: 0;
        }
    }

    &__card-review{
        //width: 99%;
        opacity: 0.5;
        height: auto;
        margin-top: 35px;
        transition: margin 0.3s ease;
        & .swiper:active {
            cursor: grabbing;
        }
        @include media.max-width(xs) {
            margin-top: 0;
        }
    }
    & .swiper-slide-active {
        opacity: 1;
        //margin-top: 0;
        margin: 0 0 35px 0;
        @include media.max-width(xs) {
            margin: 0;
        }
    }
}
.swiper-pagination{
    @include media.max-width(xs) {
        display: none;
    }
}
.swiper-pagination-bullet {
    border-radius: 30px;
    width: 35px;
    height: 6px;
    background: var(--green-brand);
    opacity: 0.2;
}
.swiper-pagination-bullet-active {
    opacity: 1;
}
