.info{
    height: 2000px;
    margin-top: 20px;
    &__wrap{
        position: relative;

    }
    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        overflow: hidden;
    }
    &__content{
        padding: 20px 0 30px 0;
        position: relative;
        text-align: center;
    }
    &__title{
    }
    &__text{
        margin: -2px 0 0 -12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.78;
        letter-spacing: -0.04em;
        color: var(--text-secondary);
    }
}
@media (max-width: 650px) {
    .info{
        &__content{
            padding: 31px 0 55px 0;
            position: relative;
            text-align: center;
        }
        &__text{
            width: 90%;
            margin: 2px auto 0 auto;
        }
    }
}