@use "@/scss/mixins/media" as media;

.info{
    //height: 2000px;
    margin-top: 17px;
    &__wrap{
        position: relative;
    }
    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        overflow: hidden;
    }
    &__content{
        padding: 22px 0 23px 0;
        position: relative;
        text-align: center;
        @include media.max-width(sm) {
            padding: 34px 0 55px 0;
        }
    }
    &__title{
        font-weight: 600;
        font-size: 24px;
        line-height: 1.31;
        letter-spacing: -0.02em;
        color: var(--text-primary);
    }
    &__text{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.78;
        letter-spacing: -0.04em;
        color: var(--text-secondary);
        @include media.max-width(sm) {
            padding-inline: 20px;
            margin: 2px auto 0 auto;
        }
    }
}
