@use "@/scss/mixins/media" as media;
.products{
    margin-top: 57px;
    @include media.max-width(xs) {
        margin-top: 32px;
    }
    &__head{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title{
        flex: 1 0 auto;
    }
    &__btn-all{
        width: 155px;
        border-color: var(--light-grey-stroke);
        @include media.max-width(sm) {
            width: 124px;
            height: 47px;
        }
    }
    &__text{
    }
    &__category{
        margin-top: 39px;
        padding-bottom: 5px;
        @include media.max-width(xs) {
            margin-top: 20px;
        }
    }
    &__list{
        margin-top: 27px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 30px;
        @include media.max-width(md) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include media.max-width(xs) {
            margin-top: 23px;
            display: flex;
            gap: 0;
            align-items: stretch;
        }
    }
    &__card{
        @include media.max-width(xs) {
            width: 319px;
            //aspect-ratio: 319 / 512;
            //flex: 1 0 auto;
            padding: 26px 11px 11px 11px;
        }
    }
}


