.blog{
    margin-top: 92px;
    &__wrap{
        margin-top: 39px;
        display: grid;
        grid-template-columns: repeat( 3, 1fr);
        gap: 30px;
        grid-auto-rows: 1fr;
    }
}

.news-card{
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
    position: relative;
    &_light-blue{
        background: var(--light-blue);
    }
    &_light-green{
        background: var(--light-green);
    }
    &__content{
        padding: 30px 0 8px 30px;
    }
    &__date-row{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__icon{
        width: 24px;
        height: 24px;
    }
    &__date-text{
        font-size: 14px;
        line-height: 178%;
        color: var(--text-secondary);
    }
    &__title{
        margin-top: 10px;
        padding-right: 6%;
    }
    &__text{
        font-size: 14px;
        line-height: 1.78;
        color: var(--text-secondary);
        margin-top: 3px;
        padding-right: 2%;
        &:empty{
            display: none;
        }
    }
    &__btn{
        border: 1px solid var(--light-grey-stroke);
        width: 106px;
        margin-top: 14px;
    }
    &__photo{
        //width: 300px;
        &_round{
            width: 238px;
            aspect-ratio: 1;
            //margin: -8% -12% -40% auto;
            position: absolute;
            right: -12%;
            bottom: -35%;
        }
    }
}
.grid-row-2{
    grid-row: span 2;
    //padding: 24px 0 0 24px;
    & .news-card__content{
        padding: 24px 0 0 24px;
    }
    & .news-card__photo{
        aspect-ratio: 133 / 183;
        margin: -25px 1px 0 auto;
        width: 81%;
    }
}
.grid-column-2{
    //align-self: start;
    grid-column: span 2;
    //display: flex;
    display: grid;
    grid-template-columns: 1fr 300px;
    //gap: 1%;
    & .news-card__content{
        //padding: 30px 0 0 30px;
    }
    & .news-card__photo{
        height: 100%;
        aspect-ratio: 1;
        max-height: 300px;
        margin: auto 0 0 0;
    }
}