@use "@/scss/mixins/media" as media;
.footer {
    margin-top: 124px;
    @include media.max-width(md) {
        margin-top: 81px;
    }
    @include media.max-width(xs) {
        margin-top: 85px;
    }
}