@use "@/scss/mixins/media" as media;
.our-blog{
    & .intro{
        margin-top: 32px;
        & .main-title {
            line-height: 1.13;
        }
    }
    & .toolbar__sort-wrap{
        //right: 110px;
        @include media.max-width(sm) {
            width: auto;
            margin-right: 0;
            z-index: 10;
        }

    }
    & .filter-blog {
        margin-top: 17px;
        @include media.max-width(xs) {
            margin-top: 15px;
        }
    }
    & .footer {
        margin-top: 83px;
        @include media.max-width(md) {
            margin-top: 48px;
        }
    }
}