.button{
    background: var(--white);
    height: 51px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.78;
    letter-spacing: -0.04em;
    color: var(--green-brand);


    &_green{
        color: var(--white);
        background: var(--green-brand);
    }
}
// focus (focus-visible), hover, active