@use "@/scss/mixins/media" as media;

.card-review {
    border: 1px solid var(--light-grey-stroke);
    border-radius: 12px;
    padding: 34px 34px 38px 34px;
    box-shadow: 0 4px 21px 0 rgba(209, 209, 209, 0.25);
    background: var(--white);
    @include media.max-width(xs) {
        padding: 22px 22px 24px 22px;
    }

    &__head {
        display: grid;
        grid-template-columns: 88px 1fr;
        grid-template-rows: 1fr auto;
        row-gap: 32px;
        align-items: center;
    }

    &__photo {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        flex-shrink: 0;
        @include media.max-width(xs) {
            width: 40px;
            height: 40px;
        }
    }

    &__name-wrap {
        margin-top: 4px;
        @include media.max-width(xs) {
            margin-top: 0px;
        }
    }

    &__name {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.39;
        letter-spacing: -0.04em;
        color: var(--text-primary);
    }

    &__date {
        font-size: 14px;
        line-height: 1.78;
        color: var(--text-secondary);
    }

    &__rating{
        //margin-top: 32px; --------
        gap: 4px;
        //grid-column: span 2;
        & svg{
            width: 21px;
            height: 20px;
        }
        @include media.max-width(xs) {
            margin-top: 16px;
        }
    }
    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.75;
        color: var(--text-primary);
        margin-top: 16px;
        //margin-top: 28px;
        @include media.max-width(xs) {
            font-size: 14px;
            line-height: 2;
        }
    }
    &__gallery{
        display: none;
        align-items: center;
        gap: 7px;
        flex-wrap: wrap;
        margin-top: 12px;
    }
    &__review-img{
        border-radius: 4px;
        width: 106px;
        height: 106px;
    }
    &__line{
        background: var(--light-grey-stroke);
        height: 1px;
        width: 100%;
        margin-top: 26px;
        display: none;
    }
    &__foot{
        //display: flex;
        display: none;
        align-items: center;
        margin-top: 18px;
    }
    &__chose-text{
        font-size: 14px;
        line-height: 1.78;
        color: var(--text-secondary);
    }
    &__chose-number{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.78;
        letter-spacing: -0.04em;
        color: var(--text-primary);
        margin-left: 4px;
    }
    &__verified{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 14px;
        line-height: 1.78;
        color: var(--primary-color);
        border-radius: 119px;
        width: 147px;
        height: 40px;
        background: var(--invisible-green);
        margin-left: 37px;
    }
}

.card-review_extended {
    .card-review{
        &__head {
            //grid-template-columns: 88px 1fr 130px;
            grid-template-columns: 88px 1fr 130px;
            grid-template-rows: auto;
            @include media.max-width(xs) {
                grid-template-columns: 58px 1fr;
                //row-gap: 40px;
            }
        }
        &__text {
            margin-top: 28px;
        }
        &__rating{
            grid-column: span 1;
            @include media.max-width(xs) {
                grid-column: span 2;
            }
        }
        &__gallery{
            //display: flex;  // зробити flex через джс при наявності картинок
            display: none;
            overflow: auto;
        }
        &__line{
            display: block;
        }
        &__foot{
            display: flex;
        }
    }
}