@use "@/scss/mixins/media" as media;
.news-card{
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
    position: relative;
    min-height: 300px;

    @include media.max-width(sm) {
        grid-column: span 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @include media.max-width(sm) {
        min-height: 400px;
    }
    @include media.max-width(xs) {
        //min-height: 450px;
    }
    &_wide{
        grid-row: span 2;

        @include media.max-width(sm) {
            grid-row: span 1;
        }
        & .news-card__content{
            padding: 24px 0 0 24px;
            @include media.max-width(sm) {
                padding: 20px 0 0 20px;
            }
        }
    }
    &_tall{
        grid-column: span 2;
        display: grid;
        grid-template-columns: 1fr 300px;
    }
    &_basic{
        & .news-card__text{
            display: none;
            @include media.max-width(sm) {
                display: block;
            }
        }
    }

    &_light-blue{
        background: var(--light-blue);
    }
    &_light-green{
        background: var(--light-green);
    }
    &__content{
        padding: 30px 0 8px 30px;
        position: relative;
        z-index: 1;
        @include media.max-width(sm) {
            padding: 20px 0 0 20px;
        }
    }
    &__date-row{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__icon{
        width: 24px;
        height: 24px;
    }
    &__date-text{
        font-size: 14px;
        line-height: 178%;
        color: var(--text-secondary);
    }
    &__title{
        margin-top: 10px;
        padding-right: 6%;
        @include media.max-width(xs) {
            font-weight: 700;
        }
    }
    &__text{
        font-size: 14px;
        line-height: 1.78;
        color: var(--text-secondary);
        margin-top: 3px;
        padding-right: 2%;
        &:empty{
            display: none;
        }
        @include media.max-width(xs) {
           max-width: 350px;
        }
    }
    &__btn{
        border: 1px solid var(--light-grey-stroke);
        width: 106px;
        margin-top: 14px;
    }
    &__photo{
        &_square{
            height: 100%;
            aspect-ratio: 1;
            max-height: 300px;
            margin: auto 0 0 0;
            @include media.max-width(sm) {
                width: 70%;
                height: auto;
                position: absolute;
                bottom: 0;
                right: 0;
            }
            @include media.max-width(xs) {
                //width: 72%;
                //right: -12%;
                width: 66%;
                right: -2%;
            }
        }
        &_rectangle{
            aspect-ratio: 133 / 183;
            //margin: -25px 1px 0 auto;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 62%;

            @include media.max-width(sm) {
                aspect-ratio: 89 / 122;
                //position: absolute;
                height: auto;
                width: 49%;
                right: -4%;
                bottom: 0;
            }
            @include media.max-width(xs) {
                //position: absolute;
            }
        }
        &_rectangle-high{
            aspect-ratio: 109 / 146;
            //margin: -25px 1px 0 auto;
            position: absolute;
            right: -7%;
            bottom: -1%;
            height: 69%;

            @include media.max-width(sm) {
                aspect-ratio: 89 / 122;
                //position: absolute;
                height: auto;
                width: 56%;
                right: -6%;
                bottom: -10%;
            }
            @include media.max-width(xs) {
                //position: absolute;
            }
        }
        &_rectangle-in-wide{
            //aspect-ratio: 55 / 51;
            aspect-ratio: 22 / 17;
            //width: 79%;
            height: 40.5%;
            position: absolute;
            right: -16%;
            bottom: 0;
            @include media.max-width(md) {
                //height: 45%;
            }
            @include media.max-width(xs) {
                aspect-ratio: 43 / 33;
                width: 62%;
                //right: 10%;
                right: 0;
                height: auto;
            }
        }
        &_round{
            height: 79%;
            aspect-ratio: 1;
            position: absolute;
            right: -12%;
            bottom: -35%;

            @include media.max-width(sm) {
                height: auto;
                width: 68%;
                right: -25%;
                bottom: -12%;
            }
        }
    }
    &_mobile-hide{
        @include media.max-width(xs) {
            display: none;
        }
    }
}
