@use "@/scss/mixins/media" as media;
.news-card{
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
    position: relative;
    min-height: 300px;

    @include media.max-width(sm) {
        min-width: auto;
        grid-column: span 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //padding: 17px 33px 8px 20px;
        padding: 22px 33px 8px 20px;
    }
    @include media.max-width(sm) {
        min-height: 400px;
    }
    & .news-card__photo_round{
        @include media.max-width(sm) {
            bottom: -12%;
            right: -16%;
            width: 69%;
            height: auto;
        }
        @include media.max-width(xs) {
            bottom: -13%;
            right: -27%;
        }
    }
    & .news-card__photo_square{
        @include media.max-width(sm) {
            height: auto;
            width: 65%;
        }
    }
    & .news-card__photo_rectangle{
        @include media.max-width(sm) {
            height: 57%;
        }
        @include media.max-width(xs) {
            height: auto;
            width: 50%;
        }
    }

    &_wide{
        grid-row: span 2;
        min-height: 600px;
        padding: 23px 14px 8px 26px;
        @include media.max-width(sm) {
            grid-row: span 1;
            min-height: 400px;
        }

        & .news-card__photo{
            height: 73%;
        }
        & .news-card__photo_square{
            height: auto;
            width: 100%;
        }
        & .news-card__photo_round{
            bottom: -26%;
            right: -15%;
        }
    }
    &_tall{
        grid-column: span 2;
        min-width: 600px;
        padding: 29px 14px 8px 32px;

        @include media.max-width(sm) {
            grid-row: span 1;
        }

        & .news-card__content{
            width: 55%;
            @include media.max-width(sm) {
                width: 100%;
            }
        }
        & .news-card__photo{
            height: 100%;
        }

    }
    &_basic{
        padding: 29px 28px 8px 32px;
        & .news-card__text{
            display: none;
            @include media.max-width(sm) {
                display: block;
            }
        }
        & .news-card__photo{
            bottom: -35%;
            right: -12%;
            height: 79%;
        }
        & .news-card__photo_square{
            bottom: -13%;
            right: 0%;
        }
        & .news-card__photo_round{
            @include media.max-width(md) {
                bottom: -22%;
                right: -5%;
            }

        }
    }

    &_light-blue{
        background: var(--light-blue);
    }
    &_light-green{
        background: var(--light-green);
    }
    &__content{
        position: relative;
        z-index: 5;
    }
    &__date-row{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__icon{
        width: 24px;
        height: 24px;
    }
    &__date-text{
        font-size: 14px;
        line-height: 178%;
        color: var(--text-secondary);
    }
    &__title{
        margin-top: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @include media.max-width(xs) {
            font-weight: 700;
        }
    }
    &__text{
        font-size: 14px;
        line-height: 1.78;
        color: var(--text-secondary);
        margin-top: 3px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        &:empty{
            display: none;
        }
        @include media.max-width(xs) {
           max-width: 350px;
        }
    }
    &__btn{
        border: 1px solid var(--light-grey-stroke);
        width: 106px;
        margin-top: 14px;
    }
    &__photo{
        z-index: 1;
        //user-select: none;
        pointer-events: none;
        position: absolute;
        bottom: 0;
        right: 0;
        &_square{
            aspect-ratio: 1;
        }
        &_rectangle{
            aspect-ratio: 303 / 431;

            @include media.max-width(sm) {
                aspect-ratio: 174 / 225;
            }
        }

        &_round{
            aspect-ratio: 1 / 1;
        }
    }
    &_mobile-hide{
        @include media.max-width(xs) {
            display: none;
        }
    }
}
