@use "@/scss/mixins/media" as media;

.card-review {
    border: 1px solid var(--light-grey-stroke);
    border-radius: 12px;
    padding: 34px 34px 38px 34px;
    box-shadow: 0 4px 21px 0 rgba(209, 209, 209, 0.25);
    background: var(--white);
    @include media.max-width(xs) {
        padding: 22px 22px 24px 22px;
    }

    &__head {
        display: grid;
        grid-template-columns: 78px 1fr;
        align-items: center;
        @include media.max-width(xs) {
            grid-template-columns: 48px 1fr;
            gap: 15px 10px;
            align-items: start;
        }
    }

    &__photo {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        flex-shrink: 0;
        @include media.max-width(xs) {
            width: 40px;
            height: 40px;
            align-self: center;
        }
    }

    &__name-wrap {
        margin-top: 4px;
        @include media.max-width(xs) {
            margin-top: 0;
        }
    }

    &__name {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.39;
        letter-spacing: -0.04em;
        color: var(--text-primary);
    }

    &__date {
        font-size: 14px;
        line-height: 1.78;
        color: var(--text-secondary);
    }

    &__rating{
        margin-top: 32px;
        gap: 4px;
        & svg{
            width: 21px;
            height: 20px;
        }
        @include media.max-width(xs) {
            margin-top: 16px;
        }
    }
    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.75;
        color: var(--text-primary);
        margin-top: 16px;
        //margin-top: 28px;
        @include media.max-width(xs) {
            font-size: 14px;
            line-height: 2;
        }
    }
    &__gallery{
        display: none; // зробити flex через джс при наявності картинок
        align-items: center;
        gap: 7px;
        flex-wrap: wrap;
        margin-top: 12px;
        overflow: auto;
    }
    &__review-img{
        border-radius: 4px;
        width: 106px;
        height: 106px;
        &:first-child{
            display: none;
        }
    }

    &__line{
        background: var(--light-grey-stroke);
        height: 1px;
        width: 100%;
        margin-top: 20px;
        //display: none;
        @include media.max-width(sm) {
            margin-top: 13px;
        }
    }
    &__foot-inner{
        display: flex;
        align-items: center;
        margin-top: 18px;
        min-height: 40px;
    }
    &__chose-text{
        font-size: 14px;
        line-height: 1.78;
        color: var(--text-secondary);
    }
    &__chose-number{
        font-weight: 500;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.78;
        letter-spacing: -0.04em;
        color: var(--text-primary);
        margin-left: 4px;
    }
    &__verified{
        display: none;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 14px;
        line-height: 1.78;
        color: var(--primary-color);
        border-radius: 119px;
        width: 147px;
        height: 40px;
        background: var(--invisible-green);
        margin-left: 37px;
        @include media.max-width(xs) {
            margin-left: 20px;
        }
    }
}

.card-review_extended {
    padding: 34px 34px 28px 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .card-review{
        &__head {
            grid-template-columns: 78px 1fr 130px;
            grid-template-rows: auto;
            gap: 32px 10px;
            @include media.max-width(md) {
                grid-template-columns: 78px 1fr;
                gap: 15px 10px
            }
            @include media.max-width(xs) {
                grid-template-columns: 48px 1fr;
                gap: 32px 10px
            }
        }
        &__text {
            margin-top: 28px;
            @include media.max-width(sm) {
                margin-top: 16px;
            }
        }
        &__rating{
            margin-top: 0;
            grid-column: span 1;
            @include media.max-width(md) {
                grid-column: span 2;
            }
        }
    }
}