@use "@/scss/mixins/media" as media;
.card {
    border: 2px solid var(--light-grey-stroke);
    border-radius: 8px;
    position: relative;
    padding: 26px 26px 23px 26px ;
    display: grid;
    grid-template-rows: 1fr auto;
    align-content: start;
    gap: 7px;
    @include media.max-width(xs) {
        height: auto;
    }

    &__favorite {
        position: absolute;
        border: 1px solid var(--light-grey-stroke);
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 10px;
        top: 10px;
        background: var(--white);
        &:focus-visible, &:hover{
            background: #ffffcb;
        }
        &.active{
            border-color: var(--yellow);
        }
        &.active .card__favorite-icon{
            --favorite-fill: var(--yellow);
        }
    }
    &__favorite-icon{
        width: 24px;
        height: 24px;
        --favorite-stroke: var(--yellow);
    }

    &__photo {
        width: 100%;
        aspect-ratio: 1;
        display: block;
        overflow: hidden;
        border-radius: 12px;
    }

    &__wrap {
    }

    &__rating{
        display: flex;
        align-items: center;
        gap: 3px;
        margin-top: 25px;
            @include media.max-width(xs) {
                margin: 34px 0 0 16px;
            }
    }

    &__rating-comments{
        font-weight: 400;
        font-size: 14px;
        line-height: 178%;
        color: var(--text-secondary);
        margin-left: 11px;
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.56;
        letter-spacing: -0.04em;
        color: var(--text-primary);
        margin-top: 4px;
        @include media.max-width(xs) {
            margin: 4px 0 0 16px;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media.max-width(xs) {
            margin: 0 0 0 16px;
        }
    }

    &__price-row {
        display: flex;
        align-items: center;
    }
    &__fire-price{
        width: 24px;
        height: 24px;
        display: none;
        margin-inline: -8px 3px;
    }

    &__price {
        font-weight: 600;
        font-size: 28px;
        line-height: 1.93;
        color: var(--text-primary);
        &::before{
            content: '$';
        }
        &:empty {
            display: none;
        }
    }

    &__old-price {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.78;
        letter-spacing: -0.04em;
        color: var(--text-secondary);
        text-decoration: line-through;
        margin-left: 15px;
        &::before{
            content: '$';
        }
        &:empty {
            display: none;
        }
    }

    &__button {
        border: 1px solid var(--light-grey-stroke);
        border-radius: 8px;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--green-brand);
        &:focus-visible, &:hover{
            background: var(--invisible-green);
        }
        &:active {
            background: var(--green-brand);
            color: var(--white);
        }
    }
    &__button-icon{
        width: 24px;
        height: 24px;
    }
}
