@use "@/scss/mixins/adaptive-value" as adaptive;
@use "@/scss/mixins/media" as media;
.intro{
    &__wrap{
        position: relative;
        padding: 65px 0;
        @include media.max-width(sm) {
            padding: 47px 16px 42px 16px;
        }
    }

    &__content{
        z-index: 2;
        position: relative;
    }
    &__title{
        font-weight: 600;
        @include adaptive.value(font-size, 48, 28);
        line-height: 1.13;
        letter-spacing: -0.05em;
        text-align: center;
        color: var(--text-primary);
        @include media.max-width(sm) {
            line-height: 1.29;
        }
    }
    &__text{
        font-weight: 300;
        font-size: 16px;
        line-height: 1.75;
        text-align: center;
        width: 50%;
        margin: 13px auto 0 auto;
        color: var(--text-primary);
        @include media.max-width(md) {
            width: 75%;
        }
        @include media.max-width(sm) {
            font-size: 14px;
            line-height: 2;
            width: 100%;
        }
    }
    &__photo{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        border-radius: 24px;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

}