@use "@/scss/mixins/media" as media;

.category{
    overflow-x: auto;
    width: 100%;
    &__wrap{
        width: 1109px;
        display: grid;
        grid-template-columns: 110px 144px 128px 187px 148px 157px 163px;
        gap: 12px;
    }

    &__btn{
        border: 2px solid var(--light-grey-stroke);
        border-radius: 8px;
        height: 72px;
        flex: 1 1 auto;

        display: flex;
        align-items: center;
        @include media.max-width(sm) {
            height: 57px;
        }
    }
    &__icon{
        width: 28px;
        height: 28px;
        margin-left: 16px;
    }
    &__text{
        margin-left: 16px;

        font-size: 14px;
        line-height: 1.78;
        text-align: center;
    }
}