.title{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.50;
    letter-spacing: -0.05em;
    color: var(--text-primary);
}
.sub-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.31;
    letter-spacing: -0.02em;
    color: var(--text-primary);
}