$text-primary: #1f2533;
$text-secondary: #70737c;
$white: #fff;
$primary-color: #4fa083;
$green-brand: #359740;
$light-grey-stroke: #efefef;
$light-green: #eaf1eb;
$yellow: #ffcf55;
$light-blue: #eff2f8;
$invisible-green: rgba(53, 151, 64, 0.08);
$danger: #e55c5c;
$hover: #2bb159;

$font-family: "Lexend", sans-serif;
$second-family: "Inter", sans-serif;

