$minWidth: 375;
$maxWidth: 1200;
@mixin adaptive($property, $pcSize, $mobSize) {
    #{$property}: clamp(
            #{$mobSize}px,
            calc(#{$mobSize}px + (#{$pcSize - $mobSize}) * ((100vw - #{$minWidth}px) / #{$maxWidth - $minWidth})),
            #{$pcSize}px
    );
}