@use "@/scss/components/variables" as vars;
@use "@/scss/mixins/media" as media;

:root {
    --text-primary: #{vars.$text-primary};
    --text-secondary: #{vars.$text-secondary};
    --white: #{vars.$white};
    --primary-color: #{vars.$primary-color};
    --green-brand: #{vars.$green-brand};
    --light-grey-stroke: #{vars.$light-grey-stroke};
    --light-green: #{vars.$light-green};
    --yellow: #{vars.$yellow};
    --light-blue: #{vars.$light-blue};
    --invisible-green: #{vars.$invisible-green};
    --danger: #{vars.$danger};
    --hover: #{vars.$hover};

    --font-family: #{vars.$font-family};
    --second-family: #{vars.$second-family};
}

body{
    font-family: var(--font-family);
    color: var(--text-primary);
    font-weight: 400;
    background: var(--white);
    position: relative;
}

body.lock{
    overflow: hidden;
}

.container {
    //max-width: 1440px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;

    @include media.max-width(sm) {
        padding: 0 15px;
    }
}

picture {
    display: block;
    & img {
        width: 100%;
        height: 100%;
        display: block;
    }
}
svg {
    use {
        width: 100%;
        height: 100%;
    }
}


