:root {
    --text-primary: #1f2533;
    --text-secondary: #70737c;
    --white: #fff;
    --primary-color: #4fa083;
    --green-brand: #359740;
    --light-grey-stroke: #efefef;
    --light-geen: #eaf1eb;
    --yellow: #ffcf55;
    --light-blue: #eff2f8;
    --invisible-green: rgba(53, 151, 64, 0.08);
    --danger: #e55c5c;
    --hover: #2bb159;
    --font-family: "Lexend", sans-serif;
    --second-family: "Inter", sans-serif;
}

body{
    font-family: var(--font-family);
    color: var(--text-primary);
    font-weight: 400;
    background: var(--white);
    position: relative;
}

body.lock{
    overflow: hidden;
}

.container {
    //max-width: 1440px;
    max-width: 1170px;
    margin: 0 auto;
    //padding: 0 165px;
    padding: 0 30px;
}

@media (max-width: 850px){
    .container {
        padding: 0 15px;
    }
}

picture {
    display: block;
    & img {
        width: 100%;
        height: 100%;
        display: block;
    }
}
svg {
    use {
        width: 100%;
        height: 100%;
    }
}

//.btn{
//    font-weight: 400;
//    font-size: 16px;
//    text-align: center;
//    color: #333;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    padding: 16px 0;
//
//    border: 1px solid #cecece;
//    border-radius: 100px;
//    transition: all 0.3s ease;
//    &:focus-visible{
//        background: rgba(112, 128, 144, 0.5);
//    }
//    &:hover{
//        background: #333;
//        color: #fff;
//    }
//    &:active{
//        border: 3px solid #cecece;
//    }
//}



// focus (focus-visible), hover, active




// $maxWidth: 1920;
// @mixin adaptiv-value($property, $pcSize, $mobSize) {
//  $addSize: $pcSize - $mobSize;
//  $calWidth: $maxWidth - 320;
//  #{$property}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
// }

// .container {
//     @include adaptiv-value("font-size", 60, 30);
// }

