@use "@/scss/mixins/media" as media;
.header {
    width: 100%;
    height: 72px;
    position: relative;
    @include media.max-width(xs) {
        height: 72px;
    }
    &__container {
        @include media.max-width(sm) {
            padding: 0 33px;
        }
    }

    &__wrap{
        box-shadow: 0 4px 12px 0 rgba(207, 207, 207, 0.25);
        background: var(--white);
        padding: 12px 0;
        position: fixed;
        width: 100%;
        z-index: 51;
        top: 0;
        @include media.max-width(sm) {
            padding: 17px 0;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    &__logo {
        width: 97px;
        height: 21px;
    }

    &__logo-icon {
    }

    &__nav {
        margin-left: 17px;
        flex: 1 1 auto;
        @include media.max-width(lg) {
            display: none;
        }
    }
    &__right-wrap{
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__social {
        display: flex;
        gap: 13px;
        @include media.max-width(sm) {
            display: none;
        }
    }

    &__social-icon {
        width: 19px;
        height: 19px;
    }

    &__search-form {
        border: 1px solid var(--light-grey-stroke);
        border-radius: 71px;
        width: 285px;
        @include media.max-width(sm) {
            display: none;
        }
    }

    &__actions {
        display: flex;
        gap: 24px;
        @include media.max-width(sm) {
            gap: 12px;
        }
    }
    &__actions-icon {
        width: 24px;
        height: 24px;
    }

    &__actions-btn{
        border: 1px solid  var(--light-grey-stroke);
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: contents;
        align-items: center;
        justify-content: center;
        @include media.max-width(sm) {
            display: flex;
        }
    }
    &__burger-btn{
        display: none;
        width: 16px;
        height: 20px;
        position: relative;
        @include media.max-width(lg) {
            display: block;
        }
        @include media.max-width(sm) {
            margin-left: 17px;
        }
        & span{
            position: absolute;
            height: 2px;
            background: #70737C;
            right: 0;
            transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
            &:first-child{
                top: 3px;
                width: 8px;
            }
            &:nth-child(2){
                width: 16px;
                top: 9px;
            }
            &:last-child{
                top: 15px;
                width: 12px;
            }

        }
        &.active{
            & span:first-child {
                transform: rotate(-45deg);
                width: 16px;
                top: 9px;
            }
            & span:nth-child(2) {
                opacity: 0;
            }
            & span:last-child {
                transform: rotate(45deg);
                width: 16px;
                top: 9px;
            }
        }
    }
}
.nav {
    &__menu {
        margin-inline: auto;
        width: 463px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        line-height: 1.78;
        color: var(--text-secondary);
    }

    &__menu-item {
        flex: 0 0 auto;
        &:not(:last-child) {
            border-right: 1px solid var(--light-grey-stroke);
            padding-right: 16px;
        }
    }
}
.search-form {
    display: flex;
    align-items: center;
    padding: 13px 24px;
    &__btn {

    }
    &__btn-icon {
        width: 16px;
        height: 16px;
    }

    &__search {
        margin-left: 20px;
        background: inherit;
    }
}

