$maxWidth: 1440;

@mixin adaptiv-value($property, $pcSize, $mobSize) {
    #{$property}: clamp(
            #{$mobSize}px,
            calc(
                    #{$mobSize}px + (#{$pcSize - $mobSize}) * ((100vw - 375px) / #{1440 - 375})
            ),
            #{$pcSize}px
    );
}