<div class="{{className}} card-review" data-card-id="{{dataId}}" id="{{id}}">
    <div class="card-review__head">
        <picture class="card-review__photo">
            <img
              src=""
              alt="">
        </picture>
        <div class="card-review__name-wrap">
            <p class="card-review__name"></p>
            <p class="card-review__date"></p>
        </div>
    </div>
    {{> components/rating
        className="card-review__rating"
    }}
    <p class="card-review__text"></p>
</div>