<div class="{{className}} card" data-card-id="{{dataId}}" id="{{id}}">
    <div class="card__wrap">
        <div class="card__favorite">
            {{> components/svg
                className="card__favorite-icon"
                id="card-favorite"
            }}
        </div>
        <picture class="card__photo">
            <img
              src=""
              alt="">
        </picture>

        <div class="card__rating">
            {{> components/rating
                className=""
            }}
            <span class="card__rating-comments">(122)</span>
        </div>
        <p class="card__title"></p>
    </div>
    <div class="card__footer">
        <div class="card__price-row">
            {{> components/svg
                className="card__fire-price"
                id="fire"
            }}
            <span class="card__price"></span>
            <span class="card__old-price"></span>
        </div>
        <button class="card__button">
            {{> components/svg
                className="card__button-icon"
                id="cart"
            }}
        </button>
    </div>
</div>