<div class="info-content__wrap">
    <div class="info-content__content">
        <h2 class="info-content__title title">
            Seedra helps to grow fast and efficiant
        </h2>
        <p class="info-content__text">
            SEEDRA Spinach Seeds - contains 600 seeds in 2 Packs and
            professional
            instructions created by PhD Helga George
        </p>
        <p class="info-content__text">
            Be sure of our quality - the freshest batches of this
            season.
            Non-GMO,
            Heirloom - our seeds were tested and have the best
            germination
            ratings.
        </p>
        <p class="info-content__text">
            Your easy growing experience is our guarantee.
        </p>
        <p class="info-content__text">
            Spinach commom culinary uses: salads, soups, smoothies,
            lasagne,
            pizza,
            pies, risotto, and more.
        </p>
        <p class="info-content__text">
            Proudly sourced in the USA - our garden seeds are grown,
            harvested, and
            packaged in the USA. We support local farmers and are happy
            to
            produce
            this American-made product
        </p>
    </div>
    {{> components/picture
    className="info-content__photo"
    alt="img"
    desktop="./src/image/components/info-content/img.png"
    desktopWebp="./src/image/components/info-content/img.webp"
    mobile="./src/image/components/info-content/img_2.png"
    mobileWebp="./src/image/components/info-content/img_2.webp"
    }}
</div>
<picture class="info-content__img-right">
    <source srcset="./src/image/components/info-content/img-right.webp" type="image/webp">
    <img
      src="./src/image/components/info-content/img-right.png"
      alt="" loading="lazy">
</picture>