<div class="info-content__wrap">
    <div class="info-content__content">
        <h2 class="info-content__title title">
            Seedra helps to grow fast and efficiant
        </h2>
        <p class="info-content__text">
            SEEDRA Spinach Seeds - contains 600 seeds in 2 Packs and
            professional
            instructions created by PhD Helga George
        </p>
        <p class="info-content__text">
            Be sure of our quality - the freshest batches of this
            season.
            Non-GMO,
            Heirloom - our seeds were tested and have the best
            germination
            ratings.
        </p>
        <p class="info-content__text">
            Your easy growing experience is our guarantee.
        </p>
        <p class="info-content__text">
            Spinach commom culinary uses: salads, soups, smoothies,
            lasagne,
            pizza,
            pies, risotto, and more.
        </p>
        <p class="info-content__text">
            Proudly sourced in the USA - our garden seeds are grown,
            harvested, and
            packaged in the USA. We support local farmers and are happy
            to
            produce
            this American-made product
        </p>
    </div>
    {{> components/picture
    className=classNameImg
    alt=alt
    desktop=desktop
    desktopWebp=desktopWebp
    mobile=mobile
    mobileWebp=mobileWebp
    }}
</div>
<picture class="info-content__img-right">
    <img
      src="./src/image/main/about/about-img-right.png"
      alt="">
</picture>