<div
  class="{{className}} category"
  data-menu-category
  data-disabled>
    <div class="category__btn-list-wrap">
        <div class="category__btn-list">
            {{> components/btn-category
            className="category__btn"
            id="category-all"
            text="ALL"
            }}
            {{> components/btn-category
            className="category__btn"
            id="category-bundles"
            text="BUNDLES"
            }}
            {{> components/btn-category
            className="category__btn"
            id="category-herbs"
            text="HERBS"
            }}
            {{> components/btn-category
            className="category__btn"
            id="category-vegetables"
            text="VEGATABLES"
            }}
            {{> components/btn-category
            className="category__btn"
            id="category-fruits"
            text="FRUITS"
            }}
            {{> components/btn-category
            className="category__btn"
            id="category-supplies"
            text="SUPPLIES"
            }}
            {{> components/btn-category
            className="category__btn"
            id="category-flowers"
            text="FLOWERS"
            }}
        </div>
    </div>
    <div class="category__dropdown-list">
        <div class="category__dropdown category-dropdown">
            <div class="category-dropdown__content">
                <div class="category-dropdown__arrow_front"></div>
                <h2 class="category-dropdown__title sub-title">All</h2>
                <ul class="category-dropdown__list">
                    {{> components/menu-category-li
                    tag="button"
                    className="category-dropdown__item"
                    sortItems=(json '[
                    {"text": "Bundles 1", "dataValue": "bundle-1"},
                    {"text": "Bundles 2", "dataValue": "bundle-2"},
                    {"text": "Bundles 3", "dataValue": "bundle-3"},
                    {"text": "Bundles 4", "dataValue": "bundle-4"},
                    {"text": "Bundles 5", "dataValue": "bundle-5"},
                    {"text": "Bundles 6", "dataValue": "bundle-6"},
                    {"text": "Angelica", "dataValue": "angelica"},
                    {"text": "Anise", "dataValue": "anise"},
                    {"text": "Anise Hyssop", "dataValue": "anise-hyssop"},
                    {"text": "Asclepias", "dataValue": "asclepias"},
                    {"text": "Basil", "dataValue": "basil"},
                    {"text": "Bee Balm", "dataValue": "bee-balm"},
                    {"text": "Cucumber", "dataValue": "cucumber"},
                    {"text": "Onion", "dataValue": "onion"},
                    {"text": "Garlic", "dataValue": "garlic"},
                    {"text": "Fruit 1", "dataValue": "fruit-1"},
                    {"text": "Fruit 2", "dataValue": "fruit-2"},
                    {"text": "Fruit 3", "dataValue": "fruit-3"},
                    {"text": "Fruit 4", "dataValue": "fruit-4"},
                    {"text": "Fruit 5", "dataValue": "fruit-5"},
                    {"text": "Fruit 6", "dataValue": "fruit-6"},
                    {"text": "Supply 1", "dataValue": "supply-1"},
                    {"text": "Supply 2", "dataValue": "supply-2"},
                    {"text": "Supply 3", "dataValue": "supply-3"},
                    {"text": "Supply 4", "dataValue": "supply-4"},
                    {"text": "Supply 5", "dataValue": "supply-5"},
                    {"text": "Supply 6", "dataValue": "supply-6"},
                    {"text": "Flower 1", "dataValue": "flower-1"},
                    {"text": "Flower 2", "dataValue": "flower-2"},
                    {"text": "Flower 3", "dataValue": "flower-3"},
                    {"text": "Flower 4", "dataValue": "flower-4"},
                    {"text": "Flower 5", "dataValue": "flower-5"},
                    {"text": "Flower 6", "dataValue": "flower-6"}
                    ]')
                    }}
                </ul>
                <hr class="category-dropdown__line">
                <button class="category-dropdown__view-all" data-category-filter="all">View all
                </button>
            </div>

        </div>
        <div class="category__dropdown category-dropdown">
            <div class="category-dropdown__content">
                <div class="category-dropdown__arrow_front"></div>
                <h2 class="category-dropdown__title sub-title">Bundles</h2>
                <ul class="category-dropdown__list">
                    {{> components/menu-category-li
                    tag="button"
                    className="category-dropdown__item"
                    sortItems=(json '[
                    {"text": "Bundles 1", "dataValue": "bundle-1"},
                    {"text": "Bundles 2", "dataValue": "bundle-2"},
                    {"text": "Bundles 3", "dataValue": "bundle-3"},
                    {"text": "Bundles 4", "dataValue": "bundle-4"},
                    {"text": "Bundles 5", "dataValue": "bundle-5"},
                    {"text": "Bundles 6", "dataValue": "bundle-6"}
                    ]')
                    }}
                </ul>
                <hr class="category-dropdown__line">
                <button class="category-dropdown__view-all" data-category-filter="bundles">View all Bundles
                </button>
            </div>
        </div>
        <div class="category__dropdown category-dropdown">
            <div class="category-dropdown__content">
                <div class="category-dropdown__arrow_front"></div>
                <h2 class="category-dropdown__title sub-title">Herbs</h2>
                <ul class="category-dropdown__list">
                    {{> components/menu-category-li
                    tag="button"
                    className="category-dropdown__item"
                    sortItems=(json '[
                    {"text": "Angelica", "dataValue": "angelica"},
                    {"text": "Anise", "dataValue": "anise"},
                    {"text": "Anise Hyssop", "dataValue": "anise-hyssop"},
                    {"text": "Asclepias", "dataValue": "asclepias"},
                    {"text": "Basil", "dataValue": "basil"},
                    {"text": "Bee Balm", "dataValue": "bee-balm"}
                    ]')
                    }}
                </ul>
                <hr class="category-dropdown__line">
                <button class="category-dropdown__view-all" data-category-filter="herbs">View all Herbs
                </button>
            </div>
        </div>
        <div class="category__dropdown category-dropdown">
            <div class="category-dropdown__content">
                <div class="category-dropdown__arrow_front"></div>
                <h2 class="category-dropdown__title sub-title">
                    Vegetables</h2>
                <ul class="category-dropdown__list">
                    {{> components/menu-category-li
                    tag="button"
                    className="category-dropdown__item"
                    sortItems=(json '[
                    {"text": "Cucumber", "dataValue": "cucumber"},
                    {"text": "Onion", "dataValue": "onion"},
                    {"text": "Garlic", "dataValue": "garlic"}
                    ]')
                    }}
                </ul>
                <hr class="category-dropdown__line">
                <button class="category-dropdown__view-all" data-category-filter="vegetables">View all
                    Vegetables
                </button>
            </div>
        </div>
        <div class="category__dropdown category-dropdown">
            <div class="category-dropdown__content">
                <div class="category-dropdown__arrow_front"></div>
                <h2 class="category-dropdown__title sub-title">Fruits</h2>
                <ul class="category-dropdown__list">
                    {{> components/menu-category-li
                    tag="button"
                    className="category-dropdown__item"
                    sortItems=(json '[
                    {"text": "Fruit 1", "dataValue": "fruit-1"},
                    {"text": "Fruit 2", "dataValue": "fruit-2"},
                    {"text": "Fruit 3", "dataValue": "fruit-3"},
                    {"text": "Fruit 4", "dataValue": "fruit-4"},
                    {"text": "Fruit 5", "dataValue": "fruit-5"},
                    {"text": "Fruit 6", "dataValue": "fruit-6"}
                    ]')
                    }}
                </ul>
                <hr class="category-dropdown__line">
                <button class="category-dropdown__view-all" data-category-filter="fruits">View all Fruits
                </button>
            </div>
        </div>
        <div class="category__dropdown category-dropdown">
            <div class="category-dropdown__content">
                <div class="category-dropdown__arrow_front"></div>
                <h2 class="category-dropdown__title sub-title">Supplies</h2>
                <ul class="category-dropdown__list">
                    {{> components/menu-category-li
                    tag="button"
                    className="category-dropdown__item"
                    sortItems=(json '[
                    {"text": "Supply 1", "dataValue": "supply-1"},
                    {"text": "Supply 2", "dataValue": "supply-2"},
                    {"text": "Supply 3", "dataValue": "supply-3"},
                    {"text": "Supply 4", "dataValue": "supply-4"},
                    {"text": "Supply 5", "dataValue": "supply-5"},
                    {"text": "Supply 6", "dataValue": "supply-6"}
                    ]')
                    }}
                </ul>
                <hr class="category-dropdown__line">
                <button class="category-dropdown__view-all" data-category-filter="supplies">View all
                    Supplies
                </button>
            </div>
        </div>
        <div class="category__dropdown category-dropdown">
            <div class="category-dropdown__content">
                <div class="category-dropdown__arrow_front"></div>
                <h2 class="category-dropdown__title sub-title">Flowers</h2>
                <ul class="category-dropdown__list">
                    {{> components/menu-category-li
                    tag="button"
                    className="category-dropdown__item"
                    sortItems=(json '[
                    {"text": "Flower 1", "dataValue": "flower-1"},
                    {"text": "Flower 2", "dataValue": "flower-2"},
                    {"text": "Flower 3", "dataValue": "flower-3"},
                    {"text": "Flower 4", "dataValue": "flower-4"},
                    {"text": "Flower 5", "dataValue": "flower-5"},
                    {"text": "Flower 6", "dataValue": "flower-6"}
                    ]')
                    }}
                </ul>
                <hr class="category-dropdown__line">
                <button class="category-dropdown__view-all" data-category-filter="flowers">View all Flowers
                </button>
            </div>
        </div>
    </div>
</div>