<div class="{{className}} category">
    <div class="category__wrap">
        {{> components/btn-category
            className="category__btn"
            id="btn-category-1"
            text="ALL"
        }}
        {{> components/btn-category
            className="category__btn"
            id="btn-category-2"
            text="BUNDLES"
        }}
        {{> components/btn-category
            className="category__btn"
            id="btn-category-3"
            text="HERBS"
        }}
        {{> components/btn-category
            className="category__btn"
            id="btn-category-4"
            text="VEGETABLES"
        }}
        {{> components/btn-category
            className="category__btn"
            id="btn-category-5"
            text="FRUITS"
        }}
        {{> components/btn-category
            className="category__btn"
            id="btn-category-6"
            text="SUPPLIES"
        }}
        {{> components/btn-category
            className="category__btn"
            id="btn-category-7"
            text="FLOWERS"
        }}
    </div>
</div>