<div class="{{className}} category">
    <div class="category__wrap">
        {{> components/category-btn
            className="category__btn"
            id="category-btn-1"
            text="ALL"
        }}
        {{> components/category-btn
            className="category__btn"
            id="category-btn-2"
            text="BUNDLES"
        }}
        {{> components/category-btn
            className="category__btn"
            id="category-btn-3"
            text="HERBS"
        }}
        {{> components/category-btn
            className="category__btn"
            id="category-btn-4"
            text="VEGETABLES"
        }}
        {{> components/category-btn
            className="category__btn"
            id="category-btn-5"
            text="FRUITS"
        }}
        {{> components/category-btn
            className="category__btn"
            id="category-btn-6"
            text="SUPPLIES"
        }}
        {{> components/category-btn
            className="category__btn"
            id="category-btn-7"
            text="FLOWERS"
        }}
    </div>
</div>