<div
  class="{{className}} toolbar"
  data-disabled>
    <form
      autocomplete="off"
      role="search"
      class="toolbar__search-form"
      data-search-form>
        <button
          class="toolbar__search-btn"
          type="submit">
            {{> components/svg
            className="toolbar__search-icon"
            id="search"
            }}
        </button>
        <input
          type="search"
          name="search"
          class="toolbar__search-input"
          placeholder="Search">
        <button
          data-toolbar-btn
          class="toolbar__filter-btn"
          type="button">
            {{> components/svg
            className="toolbar__filter-icon"
            id="filter"
            }}
        </button>
    </form>
    <div class="toolbar__sort-wrap">
        <button
          class="toolbar__sort-btn"
          type="button">
            <div class="toolbar__sort-inner">
            <span class="toolbar__sort-text">
                Sort by
            </span>
                <span class="toolbar__sort-item">
                {{first sortItems}}
            </span>
            </div>
            {{> components/svg
            className="toolbar__sort-icon"
            id="arrow-bottom"
            }}
        </button>

        <div class="toolbar-dropdown">
            <ul class="toolbar-dropdown__list">
                {{#each sortItems}}
                <li
                  class="toolbar-dropdown__list-item"
                  data-sort>{{this}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>