@use "@/scss/mixins/media" as media;
.related{
    margin-top: 66px;
    @include media.max-width(sm) {
        margin-top: 19px;
    }
    &__title{
        font-weight: 600;
        font-size: 36px;
        line-height: 1.5;
        letter-spacing: -0.05em;
        color: var(--text-primary);
        @include media.max-width(sm) {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.39;
            letter-spacing: -0.04em;
        }
    }
    &__swiper-container{
        overflow: hidden;
        padding: 15px 30px;
        margin-top: 24px;
        @include media.max-width(sm) {
            padding: 15px;
            margin-top: 6px;
        }
    }
    &__swiper{
        overflow: visible;
    }
    &__card{
        height: auto;
        min-width: 0;
    }
}
