.news-header{
    margin-top: 32px;
    &__wrap{
        position: relative;
        border-radius: 24px;
        background: var(--light-geen);
        overflow: hidden;
        padding: 65px 0 78px 57px;
    }
    &__title{
        font-weight: 600;
        font-size: 48px;
        line-height: 1.13;
        letter-spacing: -0.05em;
        color: var(--text-primary);
        width: 62%;
    }
    &__photo{
        //height: 97%;
        height: 100%;
        aspect-ratio: 1;
        position: absolute;
        //bottom: 0;
        top: 0;
        right: 0;
    }
    &__bg{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}