@use "@/scss/mixins/media" as media;
.news-header{
    margin-top: 32px;
    &__wrap{
        position: relative;
        border-radius: 24px;
        background: var(--light-green);
        overflow: hidden;
        //padding: 65px 0 78px 57px;
        padding: 65px 0 78px 5%;
        @include media.max-width(sm) {
            //padding: 65px 0 78px 37px;
        }
        @include media.max-width(xs) {
            padding: 22px 0 0 36px;
        }
    }
    &__title{
        width: 62%;
        position: relative;
        z-index: 2;
        @include media.max-width(xs) {
            width: 100%;
            padding-right: 36px;
        }
    }
    &__photo{
        //height: 97%;
        height: 100%;
        aspect-ratio: 1;
        position: absolute;
        z-index: 2;
        //bottom: 0;
        top: 0;
        right: 0;
        @include media.max-width(xs) {
            position: relative;
            width: 49%;
            //margin: -26px 0 0 auto;
            margin: -8.5% 0 0 auto;
        }
    }
    &__bg{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include media.max-width(sm) {
            display: none;
        }
    }
}