@use "@/scss/mixins/media" as media;
.one-news {
    margin-top: 23px;
    &__container{
        @include media.max-width(sm) {
            display: contents;
        }
    }
    &__head {
        display: flex;
        align-items: center;
        @include media.max-width(sm) {
            padding-inline: 15px;
        }
    }
    &__head-icon{
        width: 24px;
        height: 24px;
        margin-top: -3px;
    }

    &__head-time {
        font-size: 14px;
        line-height: 1.78;
        color: var(--text-secondary);
        margin-left: 8px;
    }

    &__head-line {
        background: var(--light-grey-stroke);
        height: 1px;
        flex-grow: 1;
        margin-left: 15px;
    }

    &__wrap {
        display: grid;
        //grid-template-columns: 2fr 1fr;
        grid-template-columns: 1fr 350px;
        column-gap: 30px;
        margin-top: 31px;
        @include media.max-width(sm) {
            display: block;
            margin-top: 21px;
        }
    }

    &__main {
        //height: 100%;
    }

    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.75;
        color: var(--text-primary);
        &:not(:first-child) {
            margin-top: 28px;
        }
        &:nth-of-type(3){
            margin-top: 23px;
        }
        @include media.max-width(sm) {
            padding-inline: 15px;
        }
    }
    &__photo{
        width: 100%;
        aspect-ratio: 146 / 63;
        margin-top: 32px;
        overflow: hidden;
        border-radius: 4px;
        @include media.max-width(sm) {
            aspect-ratio: 25 / 16;
            margin-top: 35px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 1.29;
        letter-spacing: -0.05em;
        color: var(--text-primary);
        margin-top: 7.3%;
        @include media.max-width(sm) {
            padding-inline: 15px;
            font-size: 22px;
            line-height: 1.55;
            margin-top: 10.3%;
            width: 75%;
        }

    }

    &__aside {
        height: 100%;
        @include media.max-width(sm) {
            padding-inline: 15px 0;
        }
    }

    &__aside-title {
        @include media.max-width(sm) {
            margin-top: 38px;
            font-size: 24px;
        }
    }
    & .swiper{
        display: contents;
        @include media.max-width(sm) {
            display: flex;
            margin-top: 20px;
        }
    }

    &__aside-wrap {
        margin-top: 16px;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto auto;
        //display: flex;
        //row-gap: 24px;
        gap: 24px;
        //flex-direction: column;
        height: calc(100% - 70px);
        @include media.max-width(sm) {
            display: flex;
            height: auto;
            gap: 0;
            margin-top: 0;
        }
    }
    &__aside-card{
        flex-grow: 1;
    }
}
