@use "@/scss/mixins/media" as media;
.share {
    @include media.max-width(sm) {
        margin-top: 17px;
    }
    &__wrap {
        border-radius: 12px;
        background: var(--green-brand);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 37px 21px 36px;
        @include media.max-width(sm) {
           flex-direction: column;
            text-align: center;
            padding: 18px 37px 21px 36px;
        }
    }

    &__content {
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.78;
        letter-spacing: -0.04em;
        color: var(--white);
        @include media.max-width(sm) {
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.31;
        letter-spacing: -0.02em;
        color: var(--white);
        @include media.max-width(sm) {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.39;
            letter-spacing: -0.04em;
        }
    }


    &__social-row {
        display: flex;
        align-items: center;
        gap: 16px;
        @include media.max-width(sm) {
            margin-top: 9px;
        }
    }
    &__social-icon{
        width: 26px;
        height: 26px;
        color: white;
    }
}

