@use "@/scss/mixins/media" as media;

.all-products {
    & .menu-category {
        margin-top: 25px;
        @include media.max-width(md) {
            margin-top: 19px;
        }
    }

    & .footer {
        margin-top: 68px;
        @include media.max-width(md) {
            margin-top: 48px;
        }
    }
}

