@use "@/scss/mixins/media" as media;

.all-products {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    & main{
        flex: 1;
    }
    & .menu-category {
        margin-top: 25px;
        @include media.max-width(md) {
            margin-top: 19px;
        }
    }

    & .footer {
        margin-top: 68px;
        @include media.max-width(md) {
            margin-top: 48px;
        }
    }
}

