@use "@/scss/mixins/media" as media;
.product-area {
    margin-top: 25px;

    &__wrap {
        display: grid;
        //grid-template-columns: 23% 1fr;
        grid-template-columns: 253px 1fr;
        gap: 32px;
        @include media.max-width(sm) {
            grid-template-columns: 1fr;
        }
    }

    &__sidebar {
        @include media.max-width(sm) {
            display: none;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat( 3, 1fr);
        grid-auto-rows: minmax(min-content, max-content);
        gap: 25px 30px;
        @include media.max-width(md) {
            grid-template-columns: repeat( 2, 1fr);
        }
        @include media.max-width(xs) {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        & .card__old-price {
            display: none;
        }
    }
}


