@use "@/scss/mixins/media" as media;

.contacts{
    min-height: 100vh;
    display: flex;

    flex-direction: column;
    & main{
        flex: 1;
    }
    & .footer{
        margin-top: 112px;
        //margin-top: auto;
        @include media.max-width(sm) {
            margin-top: 52px;
        }
    }
}