@use "./scss/base/reset";
@use "./scss/base/base";
@use "./scss/base/header";
@use "./scss/base/burger";

@use "./scss/components/btn";
@use "./scss/components/typography";
@use "./scss/components/rating";

@use "./scss/main/hero";
@use "./scss/main/info";
@use "./scss/components/menu-category";
@use "./scss/components/card-product";
@use "./scss/main/products";
@use "./scss/components/card-blog";
@use "./scss/main/blog-preview";
@use "./scss/main/feedback";
@use "./scss/main/about";


@use "./scss/base/footer";
@use "./scss/main/footer--main";
