@use "@/scss/base/reset";
@use "@/scss/base/base";
@use "@/scss/base/header";
@use "@/scss/base/burger";

@use "@/scss/components/btn";
@use "@/scss/components/typography";

@use "@/scss/card-news/news-header";
@use "@/scss/components/card-blog";
@use "@/scss/card-news/one-news";
@use "@/scss/card-news/share";

@use "@/scss/base/footer";
@use "@/scss/card-news/footer--card-news";
//@use "@/scss/our-blog/footer--our-blog";