@use "@/scss/base/reset";
@use "@/scss/base/base";
@use "@/scss/base/header";
@use "@/scss/base/burger";

@use "@/scss/components/btn";
@use "@/scss/components/typography";
@use "@/scss/components/rating";

@use "@/scss/product/hero-product";

//@use "@/scss/our-blog/intro--about";
//@use "@/scss/components/filters";
//@use "@/scss/components/card-blog";
//@use "@/scss/our-blog/blog";

@use "@/scss/base/footer";
//@use "@/scss/product/footer--product";