<li class="{{className}}"{{{dataAtr}}}>
    <button data-type-filter="bundle-1">Bundles 1</button>
</li>
<li class="{{className}}" {{{dataAtr}}}>
    <button data-type-filter="bundle-2">Bundles 2</button>
</li>
<li class="{{className}}" {{{dataAtr}}}>
    <button data-type-filter="bundle-3">Bundles 3</button>
</li>
<li class="{{className}}" {{{dataAtr}}}>
    <button data-type-filter="bundle-4">Bundles 4</button>
</li>
<li class="{{className}}" {{{dataAtr}}}>
    <button data-type-filter="bundle-5">Bundles 5</button>
</li>
<li class="{{className}}"
    {{{dataAtr}}}>
    <button data-type-filter="bundle-6">Bundles 6</button>
</li>
