<li class="{{className}}">
    <button data-type-filter="flower-1">Flower 1</button>
</li>
<li class="{{className}}">
    <button data-type-filter="flower-2">Flower 2</button>
</li>
<li class="{{className}}">
    <button data-type-filter="flower-3">Flower 3</button>
</li>
<li class="{{className}}">
    <button data-type-filter="flower-4">Flower 4</button>
</li>
<li class="{{className}}">
    <button data-type-filter="flower-5">Flower 5</button>
</li>
<li class="{{className}}">
    <button data-type-filter="flower-6">Flower 6</button>
</li>