<li class="{{className}}">
    <button data-type-filter="angelica">Angelica</button>
</li>
<li class="{{className}}">
    <button data-type-filter="anise">Anise</button>
</li>
<li class="{{className}}">
    <button data-type-filter="anise-hyssop">Anise Hyssop</button>
</li>
<li class="{{className}}">
    <button data-type-filter="asclepias">Asclepias</button>
</li>
<li class="{{className}}">
    <button data-type-filter="basil">Basil</button>
</li>
<li class="{{className}}">
    <button data-type-filter="bee-balm">Bee Balm</button>
</li>