<li class="{{className}}">
    <button data-type-filter="supply-1">Supply 1</button>
</li>
<li class="{{className}}">
    <button data-type-filter="supply-2">Supply 2</button>
</li>
<li class="{{className}}">
    <button data-type-filter="supply-3">Supply 3</button>
</li>
<li class="{{className}}">
    <button data-type-filter="supply-4">Supply 4</button>
</li>
<li class="{{className}}">
    <button data-type-filter="supply-5">Supply 5</button>
</li>
<li class="{{className}}">
    <button data-type-filter="supply-6">Supply 6</button>
</li>