<li class="{{className}}">
    <button data-type-filter="cucumber">Cucumber</button>
</li>
<li class="{{className}}">
    <button data-type-filter="onion">Onion</button>
</li>
<li class="{{className}}">
    <button data-type-filter="garlic">Garlic</button>
</li>
<li class="{{className}}">
    <button data-type-filter="vegetable-4">Vegetable 4</button>
</li>
<li class="{{className}}">
    <button data-type-filter="vegetable-5">Vegetable 5</button>
</li>
<li class="{{className}}">
    <button data-type-filter="vegetable-6">Vegetable 6</button>
</li>